*{margin:0; 
    padding:0;
    }
    
    .cabecera{
    display:block;
    width:100%;
    height:110px;
    position: relative;
    background: #666666;
    
    }
    
    .imagen{
    display: inline-block;
    margin:20px 50px;
    
    }
    .texto{
    margin: 55px 250px;
    display:inline-block;
    position: absolute;
    }
    .texto h3{
    font-family: arial;
    font-size:20px;
    color:#999999;
    font-weight:50;
    }
    
    .menu_nav{
    margin: 100px 45px;
    
    width:15%;
    
    }
    .menu_nav ul{
         list-style: none;
    }
    .menu_nav ul li{
          margin: 8px;
          border-bottom: 1px solid #999999;
          }
    .menu_nav ul li a{
          display: block;
          text-decoration: none;
          font-family: Arial;
          padding: 8px 15px;
          color:#999999;
     }
      .menu_nav ul li:hover a{
          color:#666666;
     }